
h1 {
    text-align: center;
    margin-top: 20px;
  }


.calculator {
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }
  
  #display {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 40px;
    font-size: 30px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    color: rgb(241, 249, 249);
  }
  
  button {
    padding: 30px;
    margin: 5px;
    font-size: 30px;
    color: rgb(9, 9, 9);

  }
  
 